.playlist-songs-table td, th{
   
   padding: 10px; /* Adds space inside cells */
    line-height: 1.5; /* Increases row height */  
}
table {
    border-spacing: 15px; /* Adjust the value as needed */
}

.playlist-songs-table{
    margin: 0 auto;
  width: 95%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.playlist-songs-table th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 20px;
}
  
.playlist-songs-table td {
    height: 35px;
}
  
.playlist-songs-table tr {
    border-radius: 15px;
}
  
.playlist-songs-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}

#table-head1 {
    width: 5%;
}
  
#table-head2 {
    width: 40%;
}
  
#table-head3 {
    width: 30%;
}
  
#table-head4 {
    width: 10%;
}
  
#table-head5 {
    width: 10%;
}
  
#table-head6 {
    width: 5%;
}

.playlist-song-delete{
    position: relative;
}
.playlist-song-delete div{
    cursor: pointer;
}

.playlist-song-dropdown{
    cursor: pointer;
    border-radius: 6px;
    background-color: #2a2a2a;
    font-size: 14px;
    position: absolute;
    text-align: left;
    right: 10px;
    bottom: 15px;
}

.playlist-song-delete ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    padding: 15px 15px;
    width: 190px;
}
  
.playlist-song-delete li {
    cursor: pointer;
    padding: 5px 0px;
}
  