
.update-song-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(77, 77, 77,0.2); */
    background-color: rgba(37, 35, 38, 0.9);
    border-radius: 10px;
    padding-left: 60px;
}
.update-song-input{
    width: 90%;
    border-radius: 5px;
    text-align: center;
}
.update-lyrics-input{
    width: 90%;
    height:80px;
    border-radius: 5px; 
}
.duration-input-box{
    margin-right:10px;
    margin-left:5px;
}
.update-song-input{
    width: 90%;
    border-radius: 5px;
}
.submit-update-song-button{
    width: 30%;
    height:30px;
    margin:5px;
    margin-left: 30%;
    margin-top:10px;
    margin-bottom:20px;
    border-radius: 10px;
    font-weight: bolder;
    /* background-color: darkcyan; */
    background-color: #5c3be8;
    border: 1px solid rgb(120, 119, 119);
    box-shadow: 2px 2px rgb(47, 46, 46),2px -2px rgb(47, 46, 46),-2px 2px rgb(47, 46, 46),-2px -2px rgb(47, 46, 46);
    color:aliceblue;
    opacity: 0.9;
}
.close-update-song-button-position{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-weight: bolder;
    font-size: 18px;
}
.close-update-song-modal{
    background-color: transparent;
    color:white;
    border: None;
}
.update-your-song{
    padding-left: 25%;
}