body{
    background-color: black;
    color: aliceblue;
}

.song-details{
    display: grid;
    grid-template-rows: 0.25fr 0.65fr 0.1fr;
    grid-template-areas: 'head' 'body' 'foot';
    height: 92vh; 
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:20px;
    border-radius: 5px;
}
.song-head{
    grid-area: head;
    background-image: linear-gradient(to bottom, rgb(89, 90, 92), black);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px; 
    gap:15px;
    border-radius: 10px;
}
.song-body{
    grid-area: body;
    background-image: linear-gradient(to bottom, rgb(117, 119, 121), black);
    border-radius: 5px;
}
.song-foot{
    grid-area: foot;
}
.img-song-detail{
    width:16%;
    height:84%;
    margin: 10px;
    border-radius: 10px;
}
.song-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}
.visible-lyrics{
    background-color: transparent;
    border: None;
    color:white;
    font-weight: bold;
    margin-top: 5px;
    margin-left:10px;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}
.table-songs-container{

    margin-top:15px;
    width: 95%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;

}
.table-head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-right:60px;
    margin-left:60px;

}
.table-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:60px;
    margin-left:60px;
    margin-top:10px;

}
#song-table-title {
    width: 100px; 
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 

  }
#song-head-title{
    width: 500px; 
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 50px;
    font-weight: bold;

    margin-bottom: 5px;
}
#song-info-body{
    margin-top: 3px;
}

.popout-frame{
    z-index: 10;
  
}
.popout-frame.popout {
    position: fixed; 
    z-index: 1000;
    right: 50%; 
    bottom: 50%;
    background-color: white;
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); 
  } 

.delete-modal{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 38px;
    width:400px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 1001; 
    overflow-y: auto;
   
}
.update-modal{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* background: rgba(26, 26, 27, 0.9); */
    
    /* border: 0.2px solid whitesmoke; */
    border-radius: 10px;
    padding: 38px;
    width:600px;
    height: 400px;
    /* box-shadow: 0 4px 8px rgba(96, 95, 95, 0.2); */
    z-index: 1001; 
    overflow-y: auto;
}
.deleteAOverlay{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 21, 21, 0.7);
    z-index: 1000; 
}

.closeDeleteButton{
    background-color: transparent;
    border: None;
}
.song-detail-dropdown-button{

    background-color: transparent;
    border: None;
    color:white;
    font-weight: bolder;
}
.update-delete-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 5px;
    /* border: 1px solid whitesmoke; */
    padding: 5px;
    background-color: rgba(20, 19, 19, 0.95);
    border-radius: 10px;
    opacity: 1;
    position: absolute;
    top: -160px;       
    left: -110px;       
    box-shadow: 0 4px 8px rgb(23, 23, 23);
 
  
}

.update-song-nav{
    background-color: transparent;
    border: None;
    color:whitesmoke;
    margin:3px;
    padding: 10px;
    border-bottom: 1px solid rgb(104, 102, 102);
    cursor: pointer;
}

.delete-song-nav{
    background-color: transparent;
    border: None;
    color:whitesmoke;
    margin:3px;
    padding: 10px;
    border-bottom: 1px solid rgb(104, 102, 102);
    cursor: pointer;
 
}

.add-song-playlist-nav button{
    background-color: transparent;
    border: None;
    color:whitesmoke;
    cursor: pointer;
}
.song-detail-dropdown{
    position: relative;
   
}

.table-body{
    position: relative;
}
.play-song-button{
    display: None;
    position: absolute; 
    /* bottom: 10px;  */
    left: 5%; 
    transform: translateX(-50%); 
}

.table-body:hover .play-song-button{
    display: block;
}

.addlyricsinput{
    width: 90%;
    height:80px;
    border-radius: 5px; 
}
.lyrics-format{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 20px;
}
.lyrics-detail-format{
    padding-left: 20px;
    font-size: 16px;
    margin:10px;
 
}