.playlist-header img{
    width: 200px;
    height: 200px;
}

.playlist-header{
    display: flex;
    flex-direction: row;
}

.playlist-desc{
    display: flex;
    flex-direction: column;
}

.playlist-details li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist-dropdown{
    background-color: grey;
    width: 100px;
}

.playlist-dropdown li{
    list-style: none;  /* Removes bullets/numbers */
    padding: 0;
    margin: 0;
}

.playlist-details ul {
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
}