.left-navbar {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 0px;
  min-width: 280px;
  max-width: 420px;
  padding: 16px 8px;
  border-radius: 8px;
  box-sizing: border-box;
}

.left-navbar-button {
  width: 80px;
}

.left-navbar-button,
.left-navbar-state-button,
.left-navbar-state-buttons button {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 13px;
  height: 32px;
  border: none;
  border-radius: 16px;
  padding: 4px 12px;
}

.left-navbar-button:hover,
.left-navbar-state-button:hover,
.left-navbar-state-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.left-navbar-button:hover,
.left-navbar-state-button:hover,
.left-navbar-state-buttons button:hover,
.left-navbar-sign-up-button > button:hover {
  cursor: pointer;
}

.left-navbar-button:active,
.left-navbar-state-button:active,
.left-navbar-state-buttons button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.left-navbar-buttons,
.left-navbar-state-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.left-navbar-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 12px 20px;
}

.left-navbar-header,
.player-queue-header {
  display: flex;
  margin: 4px 12px 20px;
}

.left-navbar-header-text,
.player-queue-header-text {
  margin-left: 4px;
  font-size: 19px;
  font-weight: bold;
}

.left-navbar-library-div {
  overflow: auto;
}

.left-navbar-no-user-div {
  background-color: #1f1f1f;
  padding: 16px 20px;
  border-radius: 8px;
}

.left-navbar-no-user-div > div:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.left-navbar-no-user-div > div:nth-child(2) {
  font-size: 15px;
  margin-bottom: 16px;
}

.left-navbar-state-button {
  width: 150px;
}

.left-navbar-sign-up-button > button {
  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  box-sizing: border-box;
  padding: 0 16px;
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.left-navbar-sign-up-button > button:hover {
  background-color: #f0f0f0;
  scale: 1.04;
}

.left-navbar-top-div {
  flex-grow: 1;
}

.player-queue-div {
  height: 250px;
  margin-top: 8px;
  overflow: auto;
}

.player-queue-song-artist {
  color: #b3b3b3;
  font-size: 12px;
}

.player-queue-song-card {
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
}

.player-queue-song-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.player-queue-song-image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
  overflow: hidden;
  overflow-clip-margin: unset;
}

.player-queue-song-image-div {
  margin: 8px;
}

.player-queue-song-title {
  font-size: 14px;
  font-weight: bold;
  max-height: 32px;
  overflow-wrap: anywhere;
  overflow: auto;
}

.player-queue-song-title-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  text-align: left;
}
