.album-form * {
  box-sizing: border-box;
  margin: 0px;
}

.album-form {
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  color: white;
  background-color: #121212;
  padding: 25px;
  border-radius: 6px;
}

.album-form form {
    width: 85%;
    margin: 0 auto;
}

.album-form header {
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 20px 10px;
}

.album-form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
  padding: 20px 0px;
}

.album-form-input input {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
}

.album-form-message {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 30px;
}

.album-form-button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-form button {
  background-color: #5c3be8;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 32px;
  height: 40px;
  border: none;
  border-radius: 24px;
  width: 180px
}

.album-form button:hover {
  cursor: pointer;
  scale: 1.04;
}

.album-form-error-message-container {
  height: 15px;
  text-align: left;
  color: red;
}
